#ui > #hotbar {
  --border-width: 3px;
  --border-color: #5c5c5c;
  --border: var(--border-width) solid var(--border-color);
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 20px;
  width: 100%;
  height: max(45px, 8vh);
  margin: auto;
  justify-content: center;
}

#ui > #hotbar > .hotbar-slot {
  border: var(--border);
  width: max(45px, 8vh);
  background-color: hsla(0, 10%, 10%, 0.7);
  pointer-events: auto;
}

#ui > #hotbar > .hotbar-slot > img {
  width: 100%;
  height: 100%;
}

#ui > #inventory {
  border: 2px solid red;
  display: none;
}