* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  touch-action: pan-x pan-y;
  overflow: hidden;
}

#loading-c {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#loading {
  width: 100px;
  height: 100px;
  margin: auto;
}

.no-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  -webkit-touch-callout: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}