#ui > #gui > #pause #pause-btn {
  position: fixed;
  top: 5px;
  left: 5px;
  pointer-events: auto;
}

#ui > #gui > #pause #pause-menu {
  display: none;
  width: var(--cw);
  height: var(--ch);
  margin: auto;
  border: 2px solid gray;
  background-color: #505050;
  pointer-events: auto;
  flex-direction: row;
}

#ui > #gui > #pause #pause-menu #side {
  height: calc(var(--ch) - 2px);
  width: 75px;
  background-color: gray;
}

#ui > #gui > #pause #pause-menu #sidebar {
  display: flex;
  flex-direction: column;
  height: calc(var(--ch) - 4px);
  width: 150px;
  background-color: #404040;
}

#ui > #gui > #pause #pause-menu #sidebar button {
  color: black;
  border: 3px outset #606060;
  padding-top: 20px;
  padding-bottom: 20px;
}

#ui > #gui > #pause #pause-menu #sidebar button:active {
  border: 3px inset #606060;
  color: gray;
}

#ui > #gui > #pause #pause-menu #content {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#ui > #gui > #pause #pause-menu #content > div {
  display: none;
  flex-direction: column;
}

#ui > #gui > #pause #pause-menu #content > div h1 {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

#ui > #gui > #pause #pause-menu #content > div button {
  font-size: 1em;
  color: black;
  border: 3px outset #606060;
  padding-top: 15px;
  padding-bottom: 15px;
}

#ui > #gui > #pause #pause-menu #content > div button:active {
  border: 3px inset #606060;
  color: gray;
}